@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);

body, h1, h2, h3 {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
}
canvas {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}

.container {
	max - width: 90 % ;
}

h1 {
	background: rgba(255, 255, 255, .8);
	// color: black;
	padding: 20px;
	font-size: 220px;
	margin-top: 72px;
	margin-bottom: 36px;
	line-height: 1.2;
}

h2 {
	background: rgba(255, 255, 255, .8);
	// color: black;
	font-size: 72px;
	padding: 20px;
	margin-top: 72px;
	margin-bottom: 36px;

}

p + h3 {
	margin-top: 72px;
}

h3 {
	background: rgba(255, 255, 255, .8);
	padding: 20px;
	margin-top: 72px;
	margin-bottom: 36px;
	font-size: 36px;
	line-height: 1.5;
}

h1, h2, h3
{
  // background-color: red;
  // blend-mode: multiply;
}


a {
	color: black;
}
